/*Root element*/

:root {
  --medium-turquoise: #59d2cd;
  --middle-blue: #78e2de;
  --granite-gray: #655965;
  --msu-green: #114443;
  --raisin-black: #232426;

  --main-font: Futura,"Trebuchet MS",Arial,sans-serif;
}
/*Base*/
html {
  font-size: 16px;
  font-family: var(--main-font);
}
body {
  background: url('../images/main-bg-1280.jpg') no-repeat;
}

/*Modules*/

/*logo*/
.main-logo,
.logo-bis {
  position: absolute;
  font-family: var(--main-font);
  color: #fff;
  border: .5rem solid #fff;
}
.main-logo {
  top: calc((100% - 15.5rem)/2);
  left: calc((100% - 15.5rem)/2);
  width: 15rem;
  height: 15rem;
  box-shadow: 0 0 10px 2px var(--msu-green);
  box-shadow: 5px 5px 25px 10px rgba(46,61,73,0.2);
  transition: all 1s cubic-bezier(0.67,-0.29, 0.85, 0.35);
}
.logo-bis {
  top: 4rem;
  left: 4rem;
  width: 10rem;
  height: 10rem;
  z-index: 0;
  transition: all 1s cubic-bezier(0.67,-0.29, 0.85, 0.35);
}
.main-logo:hover {
  border: 1.2rem solid #fff;
  border-radius: 5px;
  cursor: pointer;
}
.main-logo:hover .click-msg {
  opacity: 1;
}
.logo-title,
.logo-subtitle {
  margin: 0;
  padding: 0.8rem;
}
.logo-title {
  font-size: 4rem;
}
.logo-subtitle {
  font-size: 1.2rem;
}
.click-msg {
  position: absolute;
  bottom: 0;
  right: 1.2rem;
  opacity: 0;
  transition: all 1s cubic-bezier(0.67,-0.29, 0.85, 0.35);
}

/*Music Anim*/

.music-anim {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.music-anim-bar {
  width: 1.2em;
  background-color: var(--medium-turquoise);
}
.music-anim-bar.bar-1 {
  height: 1em;
}
.music-anim-bar.bar-2 {
  height: 1.5em;
}
.music-anim-bar.bar-3 {
  height: 2em;
}
.music-anim-bar.bar-4 {
  height: 2.5em;
}
.music-anim-bar.bar-5 {
  height: 3em;
  background-color: #fff;
}

/*Form*/

.form-signup {
  position: absolute;
  top: 10vh;
  margin: 0 2rem;
  box-sizing: border-box;
  width: 30vw;
  min-width: 320px;
  height: 80vh;
  padding: 1.6rem;
  color: var(--granite-gray);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px var(--medium-turquoise);
  box-shadow: 0 0 25px 5px rgba(46,61,73,0.2);
  z-index: 1;
  transition: all 1s cubic-bezier(0.67,-0.29, 0.85, 0.35);
}
@media only screen and (min-width: 430px) {
  .form-signup {
    left: inherit;
    right: 4rem;
    margin: 0;
  }
}
.signup-title {
  margin: 0;
  margin-bottom: 1.6rem;
  font-family: "Arial", sans-serif;
  color: var(--medium-turquoise);
}
.signup-input {
  display: block;
  width: 50%;
  padding: 0.4rem 0;
  margin-bottom: 1.6rem;
  border: none;
  border-bottom: 4px solid var(--middle-blue);
  transition: all .5s cubic-bezier(0.67,-0.29, 0.85, 0.35);
}
.signup-input:focus {
  width: 95%;
  outline: inherit;
}

/*Buttons*/
.btn-submit {
  position: absolute;
  right: 1.6rem;
  bottom: 1.6rem;
  padding: 0.8rem;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: var(--medium-turquoise);
  cursor: pointer;
  transition: all .3s linear;
}
.btn-submit:hover {
  background-color: var(--middle-blue);
  box-shadow: inset 0 0 3px 3px var(--medium-turquoise);
}

/*States*/

.hide-right {

  opacity: 0;
  transform: translateX(100%);
}
.hide-left {

  opacity: 0;
  transform: translateX(-100%);
}
.hide-top {

  opacity: 0;
  transform: translateY(100%);
}
.show {

  opacity: 1;
  transform: translateX(0);
}
